<%= bootstrap_form_for(@borrower) do |f| %>
  <% if @borrower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@borrower.errors.count, "error") %>prohibited this borrower from being saved:</h2>

      <ul>
      <% @borrower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-lg-8">
    <%= f.text_field :name, label: 'Название заемщика'%>
    <%= f.number_field :loan, label: 'Сумма займа', class: :text_field, step: :any%>
    <%= f.number_field :period, label: 'Срок займа' %>
    <%= f.number_field :annual_rate, label: 'Процентная ставка (годовая)', class: :text_field, step: :any %>
    <%= f.number_field :overdue_rate, label: 'Процентная ставка при просрочке', class: :text_field, step: :any %>

    <%= f.primary 'Сохранить'%>
  </div>
<% end %>