<p id="notice"><%= notice %></p>

<h1>Детализация по заемщику: 
	<%= @borrower.name %>
</h1>	
<br>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Сумма займа, руб</th>
      <th>Срок займа, мес</th>
      <th>Ставка годовых, %</th>
      <th>Ставка при просрочке, %</th>
      <th colspan="2"></th>
    </tr>
    <tr>
      
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @borrower.loan %></td>
      <td><%= @borrower.period %></td>
      <td><%= @borrower.annual_rate %></td>
      <td><%= @borrower.overdue_rate %></td>
      <td class="table-active"><%= link_to 'Изменить данные', edit_borrower_path(@borrower) %></td>
      <td class="table-danger"><%= link_to 'Удалить', @borrower, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  </tbody>
</table>
<br><br>

<h3>Общая информация о платежах</h3>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Ежемесячный по долгу, руб</th>
      <th>Ежемесячный по %, руб</th>
      <th>Общий ежемесяченый, руб</th>
      <th>Общая сумма выплат, руб</th>
      <th>Выплачено по %, руб</th>
      <th>Выплачено по долгу, руб</th>
      <th>Доходность годовых, %</th>
      <th colspan="1"></th>
   </tr>

    <tbody>
      <tr>
        <td><%= @borrower.monthly_debt_payment(@borrower) %></td>
        <td><%= @borrower.monthly_percent_payment(@borrower) %></td>
        <td><%= @borrower.monthly_total_payment(@borrower) %></td>
        <td><%= @borrower.total_payment(@borrower) %>
        <td>Выплачено по %</td>
        <td>Выплачено по долгу</td>
        <td>Доходность годовых</td>
        <td class="table-active"><%= link_to 'Помесячная детализация и редактирование платежей', borrower_payments_path(@borrower.id) %></td>
      </tr>
    </tbody>
  
</table>

<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to 'Вернуться к списку заемщиков', borrowers_path %></button>	
<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to 'Вернуться на главную страницу', root_path %></button> 

