<div class="jumbotron">
  <div class="container">
	<h1 class="display-3 text-center">Калькулятор инвестиций</h1>
<br>
	<div class="row col-lg-12">
		<div class="col text-center">
		<p class="col-lg-12 text-left">Здравствуйте, меня зовут Алексей Лопатин. Я написал это демонстрационное приложение для тестового задания. Приложение впервые задеплоено на сервер 14.07.2017, первый коммит - 07.07.2017. Исходный код вы можете найти в моем Github по ссылке ниже: </p>
		<div class="btn col-lg-6 ">
		  <%= link_to 'Посмотреть исходный код', 'https://github.com/AIexey-L/investapp', :class => "btn btn-lg btn-outline-primary col-lg-12" %>
		 </div>
		</div>
	</div>	
    
	<br>
	<br>

	<div class="row col-lg-12">
		<div class="col text-center">
		<p class="col-lg-12 text-left">Описание задания, ссылка на файл с историческими данными и расчетами.</p>
		  <div class="btn col-lg-12">
		  <%= link_to 'Перейти к описанию задания', 'https://github.com/AIexey-L/investapp/tree/master/TASK', :class => "btn btn-lg btn-outline-primary col-lg-12" %>
		 </div>
		</div>
	  <div class="col text-center">
	  <p class="col-lg-12 text-left">Пояснения и уточнения, ответы на вопросы задания, пояснения по условиям.</p>
	    <div class="btn col-lg-12" >
		  <%= link_to 'Перейти к комметариям по реализации', 'https://github.com/AIexey-L/investapp/blob/master/TASK/comments.md', :class => "btn btn-lg btn-outline-primary col-lg-12" %>
		 </div>
	  </div>
	</div>	

 <br><br><br>
	<div class="row col-lg-12">
		<div class="col text-center">
		<p class="col-lg-12 text-left">Расчет инвестиций для одного инвестора, с использованием исторических данных заемщиков, расчетом ожидаемой и фактической доходности.</p>
		<div class="btn col-lg-12">
		  <%= link_to 'Перейти к расчету инвестиций', investor_path, :class => "btn btn-lg btn-outline-primary col-lg-12" %>
		 </div>
		</div>
	  <div class="col text-center">
	  <p class="col-lg-12 text-left">Исторические данные заемщиков: создание, редактирование, производные расчеты по выплатам и доходности. </p>
	    <div class="btn col-lg-12">
	      <%= link_to 'Перейти к информации о заемщиках', borrowers_path, :class => "btn btn-lg btn-outline-primary col-lg-12" %>
	    </div>
	  </div>
	</div>	

  </div>
</div>


