<div class="col-lg-6">
<p id="notice"><%= notice %></p>

<h1>Платежи заемщика:
<%= @borrower.name %>
</h1>

<br>

<table class="table table-bordered table-striped">
  <thead>
	  <tr>
	    <th>Месяц</th>
	    <th>Сумма, руб</th>
	    <th colspan="2"></th>
	  </tr>
	 </thead>
	  <tbody>
	  	<tr>
	  	<% @payments.each do |payment| %>
		    <td><%= payment.month %></td>
		    <td><%= payment.payment %></td>
		    <td class="table-active"><%= link_to 'Изменить', edit_borrower_payment_path(id: payment.id) %></td>
		    <td class="table-danger">
		    <%= link_to 'Удалить', borrower_payment_path(id: payment.id), method: :delete, data: { confirm: 'Вы уверены?' } %>
		    </td>
	    </tr>
	    <% end %>
	  </tbody>
  
</table>

<br>

<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to 'Добавить новый платеж', new_borrower_payment_path %></button>
</div>