<div class="col-lg-7">
<p id="notice"><%= notice %></p>

<h1 class="display-4">Платежи заемщика:
<%= @borrower.name %>
</h1> 
<br>

<table class="table table-bordered table-striped">
  <thead>
	  <tr>
	    <th>Месяц</th>
	    <th>Сумма, руб</th>
	    <th colspan="2"></th>
	  </tr>
  </thead>
  <tbody >
	  	<tr>
	  	<% @payments.each do |payment| %>
		    <td class="text-center align-middle"><%= payment.month %></td>
		    <td class="text-center align-middle"><%= payment.payment %></td>
		    <td class="text-center align-middle"><div class="btn"><%= link_to 'Изменить', edit_borrower_payment_path(id: payment.id), :class => "btn btn-outline-primary btn-sm" %></div></td>
        <td class="text-center align-middle"><div class="btn"><%= link_to 'Удалить', borrower_payment_path(id: payment.id), method: :delete, data: { confirm: 'Вы уверены?' }, :class => "btn btn-danger btn-sm" %></div></td>
	    </tr>
	    <% end %>
  </tbody>
  
</table>

<br>
<div class="btn col-lg-12">
        <%= link_to 'Добавить новый платеж', new_borrower_payment_path, :class => "btn btn-lg btn-outline-success col-lg-12" %>
</div>
<div class="btn col-lg-12">
        <%= link_to 'Вернуться к детализации', @borrower, :class => "btn btn-lg btn-outline-primary col-lg-12" %>
</div>
</div>